__pycache__
*/__pycache__/*
*/.pytest_cache/*
*/.vscode/*
*/.idea/*
*/.git/*
*/.DS_Store
*/.DS_Store
*/.DS_Store?
*/._*
*/.Spotlight-V100
*/.Trashes
.HA_VERSION
.ha_run.lock
.storage/
automations.yaml
blueprints/
configuration.yaml
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
scenes.yaml
scripts.yaml
secrets.yaml

